<div class="container">
    <div class="form-group">


        {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
        {{ form_label(form.organisation,"Organisation") }}
        {{ form_widget(form.organisation,{'attr':{'class':'form-control'}}) }}
        {{ form_errors(form.organisation) }}


    </div>
    <div class="form-group">


        {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
        {{ form_label(form.goal,"Goal") }}
        {{ form_widget(form.goal,{'attr':{'class':'form-control'}}) }}
        {{ form_errors(form.goal) }}


    </div>

    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>