{% extends 'admin.html.twig' %}

{% block title %}Organisation index{% endblock %}

{% block body %}
    <h1>Organisation index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>DescriptionOrganisation</th>
            <th>EmailOrganisation</th>
            <th>NumTelOrganisation</th>
            <th>DocumentOrganisation</th>
            <th>PaymentInfo</th>
            <th>NomOrg</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for organisation in organisations %}
            <tr>
                <td>{{ organisation.id }}</td>
                <td>{{ organisation.descriptionOrganisation }}</td>
                <td>{{ organisation.emailOrganisation }}</td>
                <td>{{ organisation.numTelOrganisation }}</td>
                <td>{{ organisation.documentOrganisation }}</td>
                <td>{{ organisation.paymentInfo }}</td>
                <td>{{ organisation.NomOrg }}</td>
                <td>
                    <a href="{{ path('app_organisation_show', {'id': organisation.id}) }}">show</a>
                    <a href="{{ path('app_organisation_edit', {'id': organisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for organisation in organisations %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="service-item">
                <div class="service__icon">
                    <i class="icon-head"></i>
                    <i class="icon-head"></i>
                </div><!-- /.service__icon -->
                <div class="service__content">
                    <h4 class="service__title">{{ organisation.NomOrg }}</h4>
                    <p class="service__desc">{{ organisation.descriptionOrganisation }}
                    </p>
                    <ul class="list-items list-items-layout1 list-unstyled">
                        <li>Neurocritical Care</li>
                        <li>Neuro Oncology</li>
                        <li>Geriatric Neurology</li>
                    </ul>
                    <a href="#" class="btn btn__secondary btn__outlined btn__rounded">
                        <span>Read More</span>
                        <i class="icon-arrow-right"></i>
                    </a>
                </div><!-- /.service__content -->
            </div><!-- /.service-item -->
        </div>
    {% endfor %}


    <a href="{{ path('app_organisation_new') }}">Create new</a>

{% endblock %}
